.nav{
    display: flex;
    padding: 3%;
    &__title{
        font-size: 1.2rem;
    }
    &__link{
        &:link,&:active{
           
            text-decoration:none;
            padding-left: 1rem;
            padding-right: 1rem;
        }

    }
}